###### base ######
#my.cnf
[client]
port = 3306
socket = /tmp/mysql3306.sock
default-character-set = utf8mb4

[mysql]
prompt="\\u@\\h:\\p [\\d]> " 
no-auto-rehash
default-character-set = utf8mb4

[mysqld]
### for global
user = mysql
port = 3306
server-id = 1003306
pid-file = mysql.pid
basedir = /usr/local/mysql
datadir = /data/mysql/mysql3306/data
tmpdir = /data/mysql/mysql3306/tmp
socket = /tmp/mysql3306.sock
event_scheduler = 0
read_only = 0
skip_name_resolve = 1
explicit_defaults_for_timestamp = off
log_timestamps = system      
max_allowed_packet = 32M                    
#timeout
interactive_timeout = 300
wait_timeout = 300

auto_increment_increment = 1
auto_increment_offset = 1  


#character
character-set-server = utf8mb4

open_files_limit = 65535
back_log = 1024 
max_connections = 2000
max_connect_errors = 100000
lower_case_table_names = 1

#engine
default_storage_engine = InnoDB
default_tmp_storage_engine = InnoDB

###### GTID ######
gtid-mode = ON
enforce-gtid-consistency = ON

####### slow log ######
slow_query_log = ON
slow_query_log_file = slow.log
long_query_time = 0.5
min_examined_row_limit = 100
log-queries-not-using-indexes = ON
log_slow_admin_statements = ON
log-slow-slave-statements = ON
log_throttle_queries_not_using_indexes = 60

####### error log ######
log-error = error.log
log_warnings = 2

####### binlog ######
binlog_format = ROW
log-bin = /data/mysql/mysql3306/logs/mysql-bin
max_binlog_size = 256M
binlog_cache_size = 4M
max_binlog_cache_size = 2G  
sync_binlog = 1
expire_logs_days = 10
log_slave_updates = ON
binlog_rows_query_log_events = ON 
log_bin_trust_function_creators = ON

####### relay log ######
relay-log = relay-bin
relay-log-index = relay-bin.index
max_relay_log_size = 128M
relay_log_purge = 1
relay_log_recovery = 1

####### replication ######
skip-slave-start = 1
master_info_repository = TABLE
relay_log_info_repository = TABLE
slave_parallel_type = LOGICAL_CLOCK              
slave_parallel_workers = 4      # core/2
binlog_group_commit_sync_delay = 100
binlog_group_commit_sync_no_delay_count = 10
slave-preserve-commit-order = ON  # 并行复制中为了确保在slave上事务提交的顺序与relay log一致。
 
###### symi replication ######
#rpl_semi_sync_master_enabled=1
#rpl_semi_sync_master_timeout=1000 # 1 second
#rpl_semi_sync_slave_enabled=1
       
####### buffers & cache ######
table_open_cache = 2048
table_definition_cache = 2048
table_open_cache_instances = 64
max_heap_table_size = 96M
sort_buffer_size = 4M
join_buffer_size = 4M
thread_cache_size = 500
query_cache_size = 0
query_cache_type = 0
query_cache_limit = 256K
query_cache_min_res_unit = 512
thread_stack = 512K
tmp_table_size = 96M
key_buffer_size = 32M
read_buffer_size = 8M
read_rnd_buffer_size = 4M
bulk_insert_buffer_size = 64M

### myisam
myisam_sort_buffer_size = 128M
myisam_max_sort_file_size = 10G
myisam_repair_threads = 1

####### InnoDB ######
innodb_thread_concurrency = 0
innodb_sync_spin_loops = 100
innodb_spin_wait_delay = 30
innodb_autoinc_lock_mode  = 2
innodb_online_alter_log_max_size = 128M
innodb_open_files = 65535
innodb_page_size = 16k 
innodb_write_io_threads = 8
innodb_read_io_threads = 8
innodb_purge_threads = 4
innodb_page_cleaners = 4
innodb_file_per_table = ON
innodb_io_capacity = 2000
innodb_io_capacity_max = 8000
innodb_max_dirty_pages_pct = 50

### innodb buffer pool
innodb_buffer_pool_filename = ib_buffer_pool  
innodb_buffer_pool_size = 8G
innodb_buffer_pool_instances = 8
innodb_buffer_pool_dump_pct = 25 
innodb_buffer_pool_load_at_startup = ON
innodb_buffer_pool_dump_at_shutdown = ON

innodb_data_file_path = ibdata1:1G:autoextend
innodb_temp_data_file_path = ibtmp1:12M:autoextend  
innodb_flush_log_at_trx_commit = 1
innodb_flush_log_at_timeout = 1 
innodb_doublewrite = ON     
autocommit = 1

innodb_log_buffer_size = 32M
innodb_log_file_size = 100M
innodb_log_files_in_group = 2

transaction_isolation = READ-COMMITTED
innodb_flush_method = O_DIRECT
innodb_flush_neighbors = 0

innodb_lru_scan_depth = 4000
innodb_lock_wait_timeout = 20
innodb_rollback_on_timeout = ON
innodb_print_all_deadlocks = ON

### innodb scan resistant
innodb_old_blocks_pct = 37 
innodb_old_blocks_time = 1000 

#### innodb read ahead
innodb_read_ahead_threshold = 56 
innodb_random_read_ahead = OFF 

### performance_schema
performance_schema = 1
performance_schema_instrument = '%=on'

#innodb monitor
innodb_monitor_enable="module_innodb"
innodb_monitor_enable="module_server"
innodb_monitor_enable="module_dml"
innodb_monitor_enable="module_ddl"
innodb_monitor_enable="module_trx"
innodb_monitor_enable="module_os"
innodb_monitor_enable="module_purge"
innodb_monitor_enable="module_log"
innodb_monitor_enable="module_lock"
innodb_monitor_enable="module_buffer"
innodb_monitor_enable="module_index"
innodb_monitor_enable="module_ibuf_system"
innodb_monitor_enable="module_buffer_page"
innodb_monitor_enable="module_adaptive_hash"

